body {
  margin: 0;
}

.container {
  background: url('../images/background.jpg') 0 0 no-repeat;
  background-position: center;
  height: 4675px;
  width: 100%;
}

.crazy_boy {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/crazy_boy.png') 0 0 no-repeat;
  width: 71px;
  height: 80px;
  background-size: 216px 240px;
  transition: margin-bottom 1s ease;
}